
*
{
    margin: 0;
    box-sizing: border-box;


}
body
{
    background-color: #E9ECF2;
    padding: 110px 20px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header
{
    background-color: rgb(86, 8, 160);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
img
{
    height: 80px;
    padding: 0 20px;
    line-height: 80px;
}
nav
{
    display: flex;
    justify-content: left;
    max-width: 992px;
    margin: 0 10px;
}
.navdiv
{
    margin: 0 10px;
    display: flex;
}

.nav-link
{
    color: rgb(247, 245, 241);
    text-decoration: none;
}
.nav-link-foot
{
    color: rgb(18, 155, 87);
    text-decoration: none;
}
.list-link
{
    color: rgb(8, 7, 6);
    text-decoration: none;

}
.nav-menu
{
    
    list-style: none;
    display: flex;
    margin-right: 40px;
}
.titulo
{
    color:  white;
    font-size: 28px;
    margin: 10px, 5px;
    line-height: 100px;
    text-transform: uppercase;
    padding: 0px 10px;
    background-color: #0a0d0e;

}
.nav-menu-item
{
    
    font-size: 18px;
    margin: 0 20px;
    line-height: 100px;
    width: max-content;
    
}
.nav-menu-link
{
    padding: 8px 12px;
    border-radius:5px;
    color: rgb(255, 255, 255);
    

}
.nav-menu-link:hover
{
    background-color: white;
    color: black;
}

footer
{
 margin: 50px auto;
    justify-content: left;

    padding: 30px;
    color: #E9ECF2;
    display: flex;
    background-color: rgb(7, 6, 6);
}

table
{
    width: 80%;
    background-color: rgb(247, 248, 248);
    border-collapse: collapse;
    margin: 3% auto;
}
th,td
{
    border: solid 1px #253B40;
    padding: 20px;
}
th
{
    background-color: black;
    color: rgb(253, 253, 253);
}
tr:hover
{
    background-color: rgb(86, 8, 160);
    color: rgb(244, 246, 250);
   
}
.list-link:hover
{
    color: white;
}
h1
{
    padding: 20px;
    margin: 0 180px;
    color: #0a0d0e;
}
.title-nav-main
{
    text-align: center;
}
.nav-css-main1
{

    align-items: center;

}
.nav-css-main
{
    display:flex;
   
    align-items: center;
    width: min-content;
    margin: auto ;

}

.nav-css
{
    
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    align-items: center;
}
.nav-css:hover
{
    background-color: rgb(14, 124, 23);
    color: rgb(243, 243, 243);
}
#colores
{
    margin: 0% 10%;
}
#longitudes
{
    margin: 0% 10%;
}
.practicacss
{
    margin: 0% 5%;
    line-height: 30px;;
    background-color: #4c43c4;
    vertical-align:bottom

}
.practicacssMain
{
    margin: 0% 10%;
    background-color: #4c43c4;
    padding: 3% 0% 5% 0%;
}
.ppractica
{

    letter-spacing: 0px;;
    word-spacing: 1px;;
    color: white;

    
}
.strongpractica
{
    color: rgb(28, 211, 211);
}
.h2practica
{
    color: rgb(224, 238, 27);

    text-transform: uppercase;
}
.h3practica
{
    text-decoration: underline;
    color: rgb(224, 137, 86);
}
.empractica
{
    color: #f6fa03;
}

.titulopractica
{
    color: #55e048;
}
.imagenpractica,img
{
    margin: 5% 25%; 
    width: 400px;
    height: 300px; 
}
#colores
{
    margin: 0% 5%;
    line-height: 30px;
}
#selectores
{
    margin: 0% 5%;
    line-height: 30px;
}
#longitudes
{
    margin: 0% 5%;
    line-height: 30px;
}
#propiedades
{
    margin: 0% 5%;
    line-height: 30px;
}
.h1css
{
    margin: 2% 0;
    padding: 0%;
}
code
{
    display: block;
    text-align: center;
}
